@model ST10451547_CLOUD_COMPUTING_PART2.Data.Entities.Order

@{
    ViewData["Title"] = "Edit";
}



<div class="col-12">
    <form asp-action="Update">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="section-title flex">
            <div class="flex">
                <p class="blu-title bold"></p>

            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <input type="hidden" asp-for="OrderID" />

        <input class="edit-input-tag " type="text" asp-for="FirstName" ><br>
        <input class="edit-input-tag  " type="text" asp-for="LastName" placeholder="LastName"><br>
        <input class="edit-input-tag  " type="text" asp-for="Address" placeholder="Address"><br>
        <input class="edit-input-tag  " type="text" asp-for="CardNumber" placeholder="UserFriendlyOrderCode"><br>
        <input class="edit-input-tag  " type="text" asp-for="CVV" placeholder="TotalQuantity"><br>
        <input class="edit-input-tag  " type="text" asp-for="UserFriendlyOrderCode" placeholder="UserFriendlyOrderCode"><br>
        <input class="edit-input-tag  " type="text" asp-for="TotalQuantity" placeholder="TotalQuantity"><br>
        <input class="edit-input-tag  " type="text" asp-for="TotalPrice" placeholder="TotalPrice"><br>
        <div class="form-group" style="padding-top:20px">
            <input type="submit" value="Send Notification" class="btn btn-success" />
            <a asp-action="Index" class="btn btn-secondary">Back to List</a>

        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
